{% extends "admin/base.html" %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin_test.css' %}">
    <style>
        /* CSS INLINE DE MÁXIMA PRIORIDAD */
        .change-list tbody tr:hover {
            background-color: #ff0000 !important;
            color: #ffffff !important;
        }
        
        .form-row:hover {
            background-color: #00ff00 !important;
            color: #000000 !important;
        }
        
        input:hover {
            background-color: #0000ff !important;
            color: #ffffff !important;
        }
    </style>
{% endblock %}